<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Auto</title>
</head>
<body>
    <div class="contenedor">

    <h1>👁️ Detalle de auto</h1>

    <div class="informacion">

        <p>
            <strong>Marca:</strong>
            {{ auto.marca }}
        </p>

        <p>
            <strong>Modelo:</strong>
            {{ auto.modelo }}
        </p>

        <p>
            <strong>Año:</strong>
            {{ auto.año }}
        </p>

        <p>
            <strong>Color:</strong>
            {{ auto.color }}
        </p>

        <p>
            <strong>Precio:</strong>
            ${{ auto.precio }}
        </p>

        <p>
            <strong>Kilometraje:</strong>
            {{ auto.kilometraje }}
        </p>

        <p>
            <strong>Tipo de Combustible:</strong>
            {{ auto.tipo_combustible }}
        </p>

        <p>
            <strong>Transmisión:</strong>
            {{ auto.transmision }}
        </p>

        <p>
            <strong>Número de Puertas:</strong>
            {{ auto.numero_puertas }}
        </p>

    </div>

    <a href="/" class="boton">
        ← Volver al inicio
    </a>

</div>
    
</body>
</html>